@import "../../../app/variables";

.btn {
  &:focus svg,
  &:hover svg {
    stroke: $hoverBtnColor;
  }
}

#btn {
  @media screen and (min-width: $desktop) {
    display: none;
  }
  // &:focus svg,
  // &:hover svg {
  //   stroke: $hoverBtnColor;
  // }
}

.icon {
  width: 18px;
  height: 12px;
  fill: $bodyColor;
  stroke: $textColor;
}

.close {
  width: 32px;
  height: 32px;
}
