@import "../../app/variables";

.logoWrapp {
  width: 148px;
  height: 48px;
  position: relative;

  & img {
    object-fit: cover;
  }

  @media screen and (min-width: $desktop) {
    width: 282px;
    height: 60px;
  }
}
