$mobile: "360px";
$tablet: "768px";
$laptop: "1024px";
$desktop: "1440px";
// @media screen and (min-width: $tablet) {

// }

// @media screen and (min-width: $laptop) {

// }

// @media screen and (min-width: $desktop) {

// }

$textColor: rgba(25, 43, 57, 1);
$accentColor: rgba(242, 101, 21, 1);

$bodyColor: rgba(250, 250, 255, 1);

$topBottomPaddingMobile: 40px;
$sidePaddingMobile: 80px;

$topBottomPaddingTablet: 40px;
$sidePaddingTablet: 80px;

$topBottomPaddingLaptop: 40px;
$sidePaddingLaptop: 80px;

$topBottomPaddingDesktop: 40px;
$sidePaddingDesktop: 80px;
