$mobile: "360px";
$tablet: "768px";
$laptop: "1024px";
$desktop: "1440px";

// @media screen and (min-width: $mobile) {

// }
// @media screen and (min-width: $tablet) {

// }

// @media screen and (min-width: $laptop) {

// }

// @media screen and (min-width: $desktop) {

// }

$textColor: #192b39;
$accentColor: #f26515;
$BorderColor: #bcbcbc;
$borderColorLangSwitch: #4b4b4e80;
$dateBgColor: #aacee780;
$line: #396a787a;
$bodyColor: #fafaff;
$white: #ffffff;
$shadow: #4B4B4E80;

$topBottomPaddingMobile: 20px;
$sidePaddingMobile: 20px;

$topBottomPaddingTablet: 20px;
$sidePaddingTablet: 32px;

$topBottomPaddingLaptop: 40px;
$sidePaddingLaptop: 80px;

$topBottomPaddingDesktop: 40px;
$sidePaddingDesktop: 80px;