$mobile: "360px";
$tablet: "768px";
$laptop: "1024px";
$desktop: "1440px";

// @media screen and (min-width: $mobile) {

// }
// @media screen and (min-width: $tablet) {

// }

// @media screen and (min-width: $laptop) {

// }

// @media screen and (min-width: $desktop) {

// }

$textColor: rgb(25, 43, 57);
$accentColor: rgb(242, 101, 21);
$hoverBtnColor: rgb(255 92 0);
$BorderColor: rgb(188, 188, 188);
$borderColorLangSwitch: rgba(75, 75, 78, 0.502);
$dateBgColor: rgba(170, 206, 231, 0.502);
$line: rgba(57, 106, 120, 0.478);
$bodyColor: rgb(250, 250, 255);
$white: rgb(255, 255, 255);
$shadow: rgba(75, 75, 78, 0.502);

$topBottomPaddingMobile: 20px;
$sidePaddingMobile: 20px;

$topBottomPaddingTablet: 20px;
$sidePaddingTablet: 32px;

$topBottomPaddingLaptop: 40px;
$sidePaddingLaptop: 80px;

$topBottomPaddingDesktop: 40px;
$sidePaddingDesktop: 80px;
