@import '../../app/variables';

.hero {
  max-width: 360px;
  @media screen and (min-width: $tablet) {
    max-width: max-content;
  }
  @media screen and (min-width: $laptop) {
    padding-left: 68px;
    padding-right: 68px;
  }
  @media screen and (min-width: $desktop) {
    padding-left: 108px;
    padding-right: 108px;
  }
}

.title {
  font-family: var(--mediumSerif);
  font-weight: 500;
  font-size: 30px;
  color: $textColor;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    font-size: 48px;
    row-gap: 24px;
    margin-bottom: 45px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 72px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    font-weight: 500;
    font-size: 64px;
    margin-bottom: 48px;
  }
}

.titleItem {
  text-align: end;
}

.heroContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
  }
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: $tablet) {
    width: 32%;
  }

  @media screen and (min-width: $laptop) {
    width: 25%;
  }
  @media screen and (min-width: $desktop) {
    width: 25%;
  }
}

.heroSubtitleMini {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.heroSubtitleMaxi {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.heroSubtitle {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 16px;
  color: $textColor;
  margin-bottom: 24px;
  @media screen and (min-width: $tablet) {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 20px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 24px;
  }
}

.currentProjects {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48px;
  color: $accentColor;
  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 18px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0px;
    column-gap: 46px;
    align-items: flex-end;
  }

  @media screen and (min-width: $laptop) {
    column-gap: 29px;
    font-size: 20px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 24px;
  }
}

.projectsNumber {
  font-family: var(--lightSerif);
  font-weight: 400;
  font-size: 96px;
  color: $textColor;
  @media screen and (min-width: $tablet) {
    font-size: 64px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 72px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 96px;
  }
}

.svgPluse {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 10px;
  left: 60px;
  @media screen and (min-width: $tablet) {
    left: 40px;
  }

  @media screen and (min-width: $laptop) {
    left: 60px;
  }

  @media screen and (min-width: $desktop) {
    left: 60px;
  }
}

.projectsGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projectsGroupItem {
  text-align: end;
}

// .socialList {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .svgSocialLink {
//   width: 40px;
//   height: 40px;
//   fill: #fafaff;
//   background-color: #a4a4a6;
//   border: 1px solid #a4a4a6;
//   border-radius: 50%;
// }

.imgContainer {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  margin-bottom: 33px;
  & img {
    padding-bottom: 64px;
    object-fit: contain;
  }
  @media screen and (min-width: $mobile) {
    height: 290px;
  }

  @media screen and (min-width: $tablet) {
    width: 410px;
    height: 242px;
    & img {
      padding-bottom: 0px;
    }
  }

  @media screen and (min-width: $laptop) {
    width: 510px;
    height: 260px;
  }

  @media screen and (min-width: $desktop) {
    width: 654px;
    height: 331px;
  }
}

.btnContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  @media screen and (min-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: $laptop) {
    display: block;
    width: max-content;
    right: 16px;
    bottom: 4px;
  }
  @media screen and (min-width: $desktop) {
    bottom: 8px;
    // bottom: 18px;
    right: 0px;
    // right: 30px;
  }
}

.costumBtn {
  @media screen and (min-width: $laptop) {
    // width: max-content;
    // justify-content: center;
    // column-gap: 40px;
  }
}
