@import '../../app/variables';

.btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $laptop) {
    margin-bottom: 58px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

.accordionTitleContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
  padding-bottom: 8px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $accentColor;
  outline: none;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    width: 60%;
  }
  @media screen and (min-width: $laptop) {
    display: none;
  }
}

.titleAccordion {
  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 16px;
  color: $accentColor;
  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }
}

.arrow {
  width: 14px;
  height: 9px;
}

.activeArrow {
  transform: rotate(180deg);
}

.accordionBtnContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  row-gap: 16px;
  @media screen and (min-width: $tablet) {
    width: 60%;
    row-gap: 24px;
  }
}

.accordionOpen {
  height: 119px;
  opacity: 1;
  @media screen and (min-width: $tablet) {
    height: 150px;
  }
}

.accordionClose {
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.accordionBtnItem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 8px;
  width: 100%;

  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 16px;
  color: $textColor;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $accentColor;
    & .checkin {
      stroke: $accentColor;
    }
  }
  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }
}

.checkin {
  width: 14px;
  height: 10px;
  stroke: $textColor;
  fill: transparent;
}
