@import "../../app/variables";

.header {
  padding: $sidePaddingMobile;
  position: fixed;
  z-index: 100;
  background-color: $bodyColor;

  @media screen and (min-width: $tablet) {
    padding: $topBottomPaddingTablet $sidePaddingTablet;
  }

  @media screen and (min-width: $desktop) {
    height: 108px;
  }
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.LangSwitcher {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

#supportBtn {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    height: 60px;
    font-size: 18px;
    & svg {
      width: 16px;
      height: 16px;
    }
  }
  @media screen and (min-width: $desktop) {
    width: 276px;
    font-size: 24px;

    & svg {
      width: 28px;
      height: 28px;
    }
  }
}
