@import "../../app/variables";


.authForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.authForm input {
    padding: 20px;
    background-color: #0d0c22;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.authForm button {
    padding: 20px;
    cursor: pointer;
    background-color: #3673fd;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.authForm .text {
    color: #ffffff;
}

.authForm .link {
    text-decoration: underline;
    color: blue;
    font-style: italic;
}

.authForm .errMessage {
    font-weight: 700;
    font-size: 20px;
    color: #d50000;
}