@import '../../app/variables';

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  column-gap: 24px;
  @media screen and (min-width: $tablet) {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    column-gap: 0px;
  }
}

.contentList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 24px;
  @media screen and (min-width: $tablet) {
    column-gap: 24px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: $laptop) {
    width: 50%;
  }

  @media screen and (min-width: $desktop) {
    width: 60%;
  }
}

.text {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 16px;
  @media screen and (min-width: $tablet) {
    font-size: 20px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 24px;
  }
}

.textAccent {
  color: $accentColor;
}

.btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 24px;
  @media screen and (min-width: $tablet) {
    justify-content: space-around;
    row-gap: 0px;
  }
  @media screen and (min-width: $desktop) {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.btn {
  padding: 16px 24px;
  width: 100%;
  height: 52px;
  border-radius: 54px;
  border: none;
  box-shadow: 2px 2px 4px 0 rgba(75, 75, 78, 0.5);
  background-color: $bodyColor;
  color: $textColor;
  & svg {
    display: block;
    width: 16px;
    height: 16px;
    fill: $textColor;
    @media screen and (min-width: $tablet) {
      width: 24px;
      height: 24px;
    }
  }
  &:hover,
  &:focus {
    background-color: $bodyColor;
  }

  @media screen and (min-width: $tablet) {
    padding: 24px 32px;
    width: 364px;
    height: 77px;
    font-size: 24px;
  }
  @media screen and (min-width: $laptop) {
    padding: 24px 36px;
    width: 406px;
  }

  @media screen and (min-width: $desktop) {
    width: 466px;
  }
}
