@import "@/app/variables";

.form {
    width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
        width: 704px;
        row-gap: 0;
    }

    @media screen and (min-width: $desktop) {
        width: 723px;
    }
}

.wrapper {
    width: 100%;

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
    }
}

.wrapper:not(:last-child) {
    margin-bottom: 24px;
    @media screen and (min-width: $tablet) {
        margin-bottom: 0;
    }
}

.innerBox {
    width: 100%;
    @media screen and (min-width: $tablet) {
        width: 306px;
    }
}

.innerBox:not(:last-child) {
    margin-bottom: 24px;
}

.inputWrap {
    width: 100%;
    position: relative;
}

.inputWrap:not(:last-child) {
    margin-bottom: 24px;
}

.input {
    height: 60px;
    width: 100%;
    border-radius: 16px;
    padding-left: 16px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 4px 0px rgba(75, 75, 78, 0.5);
    @media screen and (min-width: $tablet) {
        padding-left: 24px;
    }
}

.errorInput {
    border: 1px solid $accentColor;
}

.input::placeholder {
    font-family: var(--montserrat);
    font-size: 16px;
    font-weight: 400;
    color: rgba(75, 75, 78, 0.5);
}

.textarea::placeholder {
    font-family: var(--montserrat);
    font-size: 16px;
    font-weight: 400;
    color: rgba(75, 75, 78, 0.5);
}

.textarea {
    resize: none;
    height: 180px;
    padding-top: 24px;
}

.iconMark {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 15px;
    right: 15px;
    fill: $accentColor;
    // stroke: $accentColor;
}

.socSvg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.boxChecked,
.boxNoChecked {
    display: none;
}

.span:has(.boxChecked) .socSvg {
    fill: $accentColor;
    // stroke: $accentColor;
}

.span:has(.boxNoChecked) .socSvg {
    fill: $BorderColor;
    // stroke: $BorderColor;
}

.checkboxWrap {
    width: 176px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 32px;
    @media screen and (min-width: $tablet) {
        width: 144px;
        justify-content: space-between;
        margin-bottom: 0;
    }
}

.inputCheckboxWrap {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $tablet) {
        flex-direction: row;
        width: 356px;
    }
}

.checkboxTitle {
    width: 176px;
    text-align: center;
    margin-bottom: 32px;
    font-family: var(--montserrat);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    @media screen and (min-width: $tablet) {
        margin-bottom: 0;
        margin-right: 36px;
        text-align: left;
    }
}

.submitButton {
    width: 100%;
    height: 52px;
    border-radius: 100px;
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    box-shadow: 2px 2px 4px 0px rgba(75, 75, 78, 0.5);
    background-color: rgba(250, 250, 255, 1);
    color: rgba(25, 43, 57, 1);
    cursor: pointer;

    @media screen and (min-width: $tablet) {
        width: 315px;
    }
}

.activeBtn {
    background-color: $accentColor;
    color: #fff;
}

.error {
    position: absolute;
    bottom: 2px;
    right: 100px;
    color: $accentColor;

    font-family: var(--montserrat);
    font-size: 12px;
    font-weight: 300;

    //   @media screen and (min-width: $laptop) {
    //     top: 60px;
    //     font-size: 14px;
    //   }
}

.errorCheckbox {
    right: auto;
    bottom: 10px;
    @media screen and (min-width: $tablet) {
        right: 10px;
        bottom: -5px;
    }
}
